<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">Dashboard</li>
  <li class="breadcrumb-item active">Clientes</li>
</ol>
<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-building-user me-1"></i>
    Clientes
  </div>
  <div class="card-body">
    <table
      id="clientsDataTable"
      class="display responsive table table-hover wrap w-100 fs-6"
    ></table>
  </div>
</div>
<%- include('partials/errorRowModal.ejs') %> <%-
include('partials/formularios/clients/newClientForm') %> <%-
include('partials/formularios/clients/editClientForm') %> <%-
contentFor('styles') %>
<!--Datatables-->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/select/1.7.0/css/select.bootstrap5.min.css"
/>

<%- contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script nonce="<%=cspNonce%>">
  $(document).ready(function () {
    // Initialize the auto-resize textareas
    $(".auto-resize").on("input", function () {
      this.style.height = "auto";
      this.style.height = this.scrollHeight + "px";
    });

    // Update the character count for all textareas with the class "charCount"
    $(".charCount").on("input", function () {
      var $textarea = $(this);
      var $charCountDisplay = $textarea.next().find(".charCountDisplay");
      var text = $textarea.val();
      var maxLength = $textarea.attr("maxlength");

      if (text.length > maxLength) {
        $textarea.val(text.substring(0, maxLength));
        $charCountDisplay.text(maxLength);
      } else {
        $charCountDisplay.text(text.length);
      }
    });
  });
</script>
<script nonce="<%=cspNonce%>">
  function showEditModal(form, data) {
    const selectedProvince = $("#editProvinces option")
      .filter(function () {
        return $(this).text().trim() === data.province_name;
      })
      .val();

    const selectedStatus = $("#editStatus option")
      .filter(function () {
        return $(this).text().trim() === data.status;
      })
      .val();

    $("#clientId").val(data.id);
    $("#editInputName").val(data.name);
    $("#editInputPhone").val(data.phone);
    $("#editInputEmail").val(data.email);
    $("#editInputAddress").val(data.address).trigger("input");
    $("#editProvinces").val(selectedProvince);
    $("#editStatus").val(selectedStatus);
    $("#editarModal").modal("show");
  }

  function recargarTabla() {
    $("#clientsDataTable").DataTable().ajax.reload();
  }
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    const table = $("#clientsDataTable").DataTable({
      responsive: true,
      select: {
        info: false,
        style: "single",
      },
      processing: true,
      serverSide: true,
      ajax: "/api/clients", // Ruta de la API en tu servidor Express.js
      columns: [
        { title: "ID", data: "id" },
        { title: "NOMBRE", data: "name" },
        { title: "TELÉFONO", data: "phone" },
        { title: "CORREO", data: "email" },
        { title: "DIRECCIÓN", data: "address", width: "35%" }, // Ajusta el ancho de la columna de dirección al 30% del contenedor
        { title: "PROVINCIA", data: "province_name" },
        {
          title: "ESTADO",
          data: "status",
          render: function (data) {
            if (data === "HABILITADO") {
              return `
              <button title="INHABILITADO" class="btn btn-success btn-sm w-100" style="pointer-events:none">Habilitado</button>`;
            } else {
              return `
              <button title="INHABILITADO" class="btn btn-danger btn-sm w-100 nowrap" style="pointer-events:none">Inhabilitado</button>`;
            }
          },
          width: "11%",
        },
      ],
      oLanguage: { sSearch: "" },
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json",
        searchPlaceholder: "Buscar...",
      },
      dom: '<"d-sm-flex justify-content-sm-between"lf><"my-1 d-flex justify-content-center" B>rt<"d-flex justify-content-center" i><"d-flex justify-content-center"p>',
      buttons: [
        {
          text: '<i class="fas fa-plus"></i> Crear',
          action: function (e, dt, node, config) {
            $("#crearModal").modal("show");
          },
          className: "btn btn-success btn-sm",
        },
        {
          text: '<i class="fas fa-pencil-alt"></i> Editar',
          action: function (e, dt, node, config) {
            // Obtener la fila seleccionada
            const data = table.row({ selected: true }).data();
            const editForm = $("#editForm");
            if (data) {
              showEditModal(editForm, data);
            } else {
              $("#rowErrorModal").modal("show");
            }
          },
          className: "btn btn-warning btn-sm",
        },
      ],
    });
  });
</script>
<script nonce="<%= cspNonce %>">
  document.addEventListener("DOMContentLoaded", () => {
    const registerForm = document.getElementById("registerForm");
    const editForm = document.getElementById("editForm");

    const setupForm = (form, messageBox, url) => {
      messageBox.innerHTML = "";
      const validateForm = () => {
        const errors = [];
        const data = Object.fromEntries(new FormData(form).entries());

        // Check for empty fields
        for (const key in data) {
          if (!data[key].trim()) {
            errors.push(`El campo ${key} es requerido.`);
          }
        }
        if (!/^[0-9]*$/.test(data.phone)) {
          errors.push("El campo teléfono no admite caracteres no númericos");
        }
        return errors;
      };

      const displayErrors = (errors) => {
        messageBox.innerHTML = errors
          .map(
            (error) =>
              `<div class="alert alert-danger mb-1 py-1"><strong>¡Error!</strong> ${error}</div>`
          )
          .join("");
      };

      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const errors = validateForm();
        if (errors.length > 0) {
          displayErrors(errors);
          return;
        }

        const data = Object.fromEntries(new FormData(form).entries());
        messageBox.innerHTML = "";

        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          const result = await response.json();

          if (!response.ok) {
            displayErrors([result.error]);
          } else {
            messageBox.innerHTML = `<div class="alert alert-success mb-1 py-1"><strong>¡Hecho!</strong> ${result.success}</div>`;
            form.reset();
            recargarTabla();
            setTimeout(() => {
              messageBox.innerHTML = "";
            }, 1000);
          }
        } catch (error) {
          console.error(error);
          displayErrors(["Ocurrió un error al enviar el formulario"]);
        }
      });
    };

    const registerMessageBox = document.getElementById("messageBox");
    setupForm(registerForm, registerMessageBox, "/addClient");
    const editMessageBox = document.getElementById("editMessageBox");
    setupForm(editForm, editMessageBox, "/editClient");
  });
</script>
