<h1 class="mt-4">Casos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Casos</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-building-user me-1"></i>
    Casos
  </div>
  <div class="card-body">
    <div class="mb-3">
      <button
        class="btn btn-success btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#crearModal"
      >
        CREAR
      </button>
      <button
        class="btn btn-warning btn-sm"
        data-bs-toggle="modal"
        id="editToggleModal"
      >
        Editar
      </button>
    </div>
    <table
      id="DataTable"
      class="display responsive table table-hover wrap w-100 fs-6"
    ></table>
  </div>
</div>

<!-- Crear usuario -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nuevo Caso</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="row">
            <div class="col-sm-8 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="idMs"
                  type="text"
                  placeholder="Número de caso Megasuper"
                  name="name"
                  autocomplete="false"
                  required
                />
                <label for="idMs">Número de caso Megasuper</label>
              </div>
            </div>
            <div class="col-sm-4 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="usersSelect"
                  name="assign_to_user_id"
                  autocomplete="false"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione una opción
                  </option>
                  <% users.forEach(value => { %>
                  <option value="<%= value.id %>">
                    <%= value.name + " " + value.last_name %>
                  </option>
                  <% }); %>
                </select>
                <label for="usersSelect" class="form-label"
                  >Asignar a (elige uno):</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="client"
                  name="client_id"
                  autocomplete="false"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione una opción
                  </option>
                  <% clients.forEach(value => { %>
                  <option value="<%= value.id %>"><%= value.name %></option>
                  <% }); %>
                </select>
                <label for="client" class="form-label"
                  >Negocio (elige uno):</label
                >
              </div>
            </div>
            <div class="col-sm-4 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="ticket_area"
                  name="ticket_area_id"
                  autocomplete="false"
                  required
                >
                  <option value="" disabled selected>
                    Seleccione una opción
                  </option>
                  <% ticket_areas.forEach(value => { %>
                  <option value="<%= value.id %>"><%= value.name %></option>
                  <% }); %>
                </select>
                <label for="ticket_area" class="form-label"
                  >Area (elige una):</label
                >
              </div>
            </div>
            <div class="col-sm-4 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="device_user"
                  name="device_user"
                  placeholder="Usuario del dispositivo"
                  required
                />
                <label for="device_user">Usuario del dispositivo</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control charCount auto-resize"
                  id="infoTextArea"
                  type="text"
                  placeholder="Información"
                  name="address"
                  required
                  maxlength="500"
                ></textarea>
                <p><span class="charCountDisplay">0</span> / 500 caracteres</p>
                <label for="infoTextArea">Información</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/errorRowModal.ejs') %> <%- contentFor('styles') %> <%-
contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="/public/js/charCount.js"></script>

<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    const table = datatableConfig(
      "#DataTable",
      "/api/tickets",
      [
        { title: "Id", data: "id" },
        { title: "ms", data: "id_ticket_client" },
        { title: "Negocio", data: "client" },
        { title: "Area", data: "ticket_area" },
        { title: "Usuario", data: "device_user", visible: false },
        { title: "Información", data: "info" },
        { title: "Asignado a", data: "assigned_to" },
        { title: "Inicio", data: "creation_date" },
        { title: "Fin", data: "close_date" },
        {
          title: "Estado",
          data: "ticket_status",
          render: function (data) {
            switch (data) {
              case "ABIERTO":
                return `<span class="badge bg-primary">${data}</span>`;
              case "ENESPERA":
                return `<span class="badge bg-warning">${data}</span>`;
              case "ENCURSO":
                return `<span class="badge" style="background-color: #fd7e14">${data}</span>`;
              case "SOLUCIONADO":
                return `<span class="badge bg-success">${data}</span>`;
              case "CERRADO":
                return `<span class="badge bg-danger">${data}</span>`;
            }
          },
          width: "5%",
        },
      ],
      [
        { targets: [0, 1, 3], className: "text-nowrap" },
        {
          targets: [5],
          className: "text-md-nowrap",
        },
        {
          targets: [7, 8], // Indices of the "Creado" and "Finalizado" columns
          render: function (data, type, row) {
            if (type === "display" && data) {
              const opts = {
                year: "2-digit",
                month: "2-digit",
                day: "2-digit",
                hour: "numeric",
                minute: "numeric",
              };

              return new Date(data).toLocaleString("es-Es", opts);
            }
            return data;
          },
          className: "text-nowrap",
        },
      ]
    );

    // Escuchar el evento click en una fila de la tabla
    $("#DataTable tbody").on("click", "tr", function () {
      // Obtener los datos de la fila seleccionada
      const rowData = table.row(this).data();

      // Mostrar la información en la consola
      console.log("Información de la fila seleccionada:", rowData);
    });
    // Agregar un botón personalizado después de la inicialización
  });
</script>
