<!-- Editar usuario -->
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  aria-labelledby="editarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="editarModalLabel">Editar Usuario</h5>
        <div id="editMessageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="editForm">
          <div class="row">
            <div class="col-6 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputFirstName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  disabled
                  required
                />
                <label for="editInputFirstName">Nombre</label>
              </div>
            </div>
            <div class="col-6">
              <input type="text" name="userId" id="userId" class="d-none" />
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputLastName"
                  type="text"
                  placeholder="Apellidos"
                  name="lastname"
                  autocomplete="false"
                  disabled
                  required
                />
                <label for="editInputLastName">Apellidos</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="editInputUsername"
              type="text"
              placeholder="Usuario"
              name="username"
              autocomplete="false"
              disabled
              required
            />
            <label for="editInputUsername">Usuario</label>
          </div>
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="editInputEmail"
              type="email"
              placeholder="Correo"
              name="email"
              autocomplete="false"
              required
            />
            <label for="editInputEmail">Correo</label>
          </div>
          <div class="row mb-2 mb-md-3">
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputPassword"
                  type="password"
                  placeholder="Create a password"
                  name="password"
                  autocomplete="false"
                  required
                />
                <label for="editInputPassword">Editar contraseña</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputPasswordConfirm"
                  type="password"
                  placeholder="Confirmar Contraseña"
                  name="password2"
                  autocomplete="false"
                  required
                />
                <label for="editInputPasswordConfirm"
                  >Confirmar Contraseña</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  name="role"
                  id="editRoles"
                  autocomplete="false"
                  required
                >
                  <% userRoles.forEach(role => { %>
                  <option value="<%= role.id %>"><%= role.name %></option>
                  <% }); %>
                </select>
                <label for="editRoles" class="form-label"
                  >Roles (elige uno):</label
                >
              </div>
            </div>
            <div class="col-6 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  name="province"
                  id="editProvinces"
                  autocomplete="false"
                  required
                >
                  <% provinces.forEach(province => { %>
                  <option value="<%= province.id %>">
                    <%= province.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="editProvinces" class="form-label"
                  >Provincias (elige una):</label
                >
              </div>
            </div>
          </div>
          <div class="col-12 mb-2 mb-md-3">
            <div class="form-floating">
              <select
                class="form-select"
                name="status"
                id="editStatus"
                autocomplete="false"
                required
              >
              <% userStatus.forEach(status => { %>
                <option value="<%= status.id %>"><%= status.info %></option>
                <% }); %>
              </select>
              <label for="editProvinces" class="form-label"
                >Estado: (elige uno):</label
              >
            </div>
          </div>

          <!-- Agrega más campos según sea necesario -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="editForm">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
