<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading">Core</div>
      <a class="nav-link <%= active === 'home' ? 'active' : '' %>" href="/">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Dashboard
      </a>
      <div class="sb-sidenav-menu-heading">HELPDESK</div>
      <!--Casos-->
      <a
        class="nav-link <%= active === 'tickets' ? 'active' : '' %>"
        href="/tickets"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        Casos
      </a>
      <!-- Fin Casos-->
      <!-- Usuarios -->
      <a
        class="nav-link <%= active === 'users' ? 'active' : '' %>"
        href="/users"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-users-gear"></i>
        </div>
        Usuarios
      </a>
      <!-- Fin Usuarios -->
      <!-- Clientes -->
      <a
        class="nav-link <%= active === 'clients' ? 'active' : '' %>"
        href="/clients"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-building-user"></i>
        </div>
        Clientes
      </a>

      <!--Fin Clientes-->
      <!--Inventario-->
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseInventario"
        aria-expanded="false"
        aria-controls="collapseLayouts"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-boxes-stacked"></i>
        </div>
        Inventario
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse"
        id="collapseInventario"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="layout-static.html">Ver</a>
          <a class="nav-link" href="layout-sidenav-light.html">Agregar</a>
        </nav>
      </div>
      <!--Fin Inventario-->
      <!--Equipos-->
      <a
        class="nav-link collapsed"
        href="#"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEquipos"
        aria-expanded="false"
        aria-controls="collapseLayouts"
      >
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-print"></i>
        </div>
        Equipos
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div
        class="collapse"
        id="collapseEquipos"
        aria-labelledby="headingOne"
        data-bs-parent="#sidenavAccordion"
      >
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link <%= active === 'deviceClasses' ? 'active' : ''%>" href="/devices/classes">Clases</a>
          <a class="nav-link" href="layout-sidenav-light.html">Proveedores</a>
          <a class="nav-link" href="layout-sidenav-light.html">Tipos</a>
          <a class="nav-link" href="layout-sidenav-light.html">Dispositivos</a>
        </nav>
      </div>
      <!--Fin Equipos-->

      <div class="sb-sidenav-menu-heading">Addons</div>
      <a class="nav-link" href="charts.html">
        <div class="sb-nav-link-icon">
          <i class="fas fa-chart-area"></i>
        </div>
        Charts
      </a>
      <a class="nav-link" href="tables.html">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Tables
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Bienvenido:</div>
    <%= user.name %>
    <br />
    <%= user.last_name %>
  </div>
</nav>
