<h1 class="mt-4">Tipos de dispositivos</h1>
<p class="lead">
  Una descripción más detallada de la clase del producto. Ejemplo:
</p>
<p class="small">Tipo: PORTÁTIL | Clase: PC | Proveedor: LENOVO</p>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="/devices">Dispositivos</a></li>
  <li class="breadcrumb-item active">Tipos de dispositivos.</li>
</ol>
<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-truck me-1"></i>
    Tipos de dispositivos.
  </div>
  <div class="card-body">
    <table
      id="DataTable"
      class="display responsive table table-hover wrap w-100 fs-6"
    ></table>
  </div>
</div>
<!-- Crear tipo de dispositivo -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nuevo Tipo</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="row">
            <div class="col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputName"
                  type="text"
                  placeholder="Tipo"
                  name="name"
                  autocomplete="false"
                  required
                />
                <label for="inputName">Tipo</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="deviceClass"
                  name="deviceClass"
                  autocomplete="false"
                  required
                >
                  <% deviceClass.forEach(value => { %>
                  <option value="<%= value.id %>"><%= value.name %></option>
                  <% }); %>
                </select>
                <label for="deviceClass" class="form-label"
                  >Clase (Selecciona uno):
                </label>
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="deviceSupplier"
                  name="deviceSupplier"
                  autocomplete="false"
                  required
                >
                  <% deviceSupplier.forEach(value => { %>
                  <option value="<%= value.id %>"><%= value.name %></option>
                  <% }); %>
                </select>
                <label for="deviceSupplier" class="form-label"
                  >Proveedor (Selecciona uno):
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--TODO: EDITAR FORM -->

<%- include('partials/errorRowModal.ejs') %> 
<%- contentFor('styles') %> 
<%- contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="/public/js/charCount.js"></script>
<script nonce="<%=cspNonce%>">
  function showEditModal(form, data) {
    const selectedStatus = $("#editStatus option")
      .filter(function () {
        return $(this).text().trim() === data.status;
      })
      .val();

    $("#deviceSupplierId").val(data.id);
    $("#editInputName").val(data.name);
    $("#editStatus").val(selectedStatus);
    $("#editarModal").modal("show");
  }
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    const table = datatableConfig(
      "#DataTable",
      "/api/devices/types",
      [
        { title: "Id", data: "id" },
        { title: "Tipo", data: "name" },
        { title: "Clase", data: "class" },
        { title: "Proveedor", data: "supplier" },
        {
          title: "Estado",
          data: "status",
          render: function (data) {
            if (data === "HABILITADO") {
              return `<span class="badge bg-success">${data}</span>`;
            }
            return `<span class="badge bg-danger">${data}</span>`;
          },
          width: "5%",
        },
      ],
      [
        {
          targets: "_all",
          className: "text-nowrap",
        },
      ]
    );
  });
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    $("#registerForm").submit(function (event) {
      event.preventDefault();
      const messages = document.getElementById("messageBox");
      const data = Object.fromEntries(new FormData(this).entries());
      $.ajax({
        url: "/devices/types/add",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
          messages.innerHTML = `<div class="alert alert-success mb-1 py-1"><strong>¡Hecho!</strong> ${response.result}</div>`;
          setTimeout(() => {
            messages.innerHTML = "";
            $("#registerForm")[0].reset();
            $(`#crearModal`).modal("hide");
            $("#DataTable").DataTable().ajax.reload();
          }, 1000);
        },
        error: function (err) {
          const result = err.responseJSON;
          displayErrors(messages, result.errors);
          setTimeout(() => {
            messages.innerHTML = "";
          }, 5000);
        },
      });
    });
  });
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    $("#editForm").submit(function (event) {
      event.preventDefault();
      const messages = document.getElementById("editMessageBox");
      const data = Object.fromEntries(new FormData(this).entries());
      $.ajax({
        url: "/devices/devices/edit",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
          messages.innerHTML = `<div class="alert alert-success mb-1 py-1"><strong>¡Hecho!</strong> ${response.result}</div>`;
          setTimeout(() => {
            messages.innerHTML = "";
            $("#editForm")[0].reset();
            $(`#editarModal`).modal("hide");
            $("#DataTable").DataTable().ajax.reload();
          }, 1000);
        },
        error: function (err) {
          const result = err.responseJSON;
          displayErrors(messages, result.errors);
          setTimeout(() => {
            messages.innerHTML = "";
          }, 5000);
        },
      });
    });
  });
</script>
