<h1 class="mt-4">Usuarios</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
  <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-users-gear"></i>
    Usuarios
  </div>

  <div class="card-body">
    <div class="row mb-4">
      <table
        id="DataTable"
        class="display responsive table table-hover w-100 fs-6"
      ></table>
    </div>
  </div>
</div>
<!-- Crear usuario -->
<div
  class="modal fade"
  id="crearModal"
  tabindex="-1"
  aria-labelledby="crearModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="crearModalLabel">Nuevo Usuario</h5>
        <div id="messageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="registerForm">
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  required
                />
                <label for="inputFirstName">Nombre</label>
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Apellidos"
                  name="lastname"
                  autocomplete="false"
                  required
                />
                <label for="inputLastName">Apellidos</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="inputUsername"
              type="text"
              placeholder="Usuario"
              name="username"
              autocomplete="false"
              required
            />
            <label for="inputUsername">Usuario</label>
          </div>
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="inputEmail"
              type="email"
              placeholder="Correo"
              name="email"
              autocomplete="false"
              required
            />
            <label for="inputEmail">Correo</label>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputPassword"
                  type="password"
                  placeholder="Create a password"
                  name="password"
                  autocomplete="false"
                  required
                />
                <label for="inputPassword">Contraseña</label>
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="inputPasswordConfirm"
                  type="password"
                  placeholder="Confirmar Contraseña"
                  name="password2"
                  autocomplete="false"
                  required
                />
                <label for="inputPasswordConfirm">Confirmar Contraseña</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="roles"
                  name="role"
                  autocomplete="false"
                  required
                >
                  <% userRoles.forEach(role => { %>
                  <option value="<%= role.id %>"><%= role.name %></option>
                  <% }); %>
                </select>
                <label for="roles" class="form-label">Roles (elige uno):</label>
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="provinces"
                  name="province"
                  autocomplete="false"
                  required
                >
                  <% provinces.forEach(province => { %>
                  <option value="<%= province.id %>">
                    <%= province.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="provinces" class="form-label"
                  >Provincias (elige una):</label
                >
              </div>
            </div>
          </div>

          <!-- Agrega más campos según sea necesario -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="registerForm">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Editar usuario -->
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  aria-labelledby="editarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-block">
        <h5 class="modal-title mb-2" id="editarModalLabel">Editar Usuario</h5>
        <div id="editMessageBox"></div>
      </div>
      <div class="modal-body">
        <form method="post" id="editForm">
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputFirstName"
                  type="text"
                  placeholder="Nombre"
                  name="name"
                  autocomplete="false"
                  disabled
                  required
                />
                <label for="editInputFirstName">Nombre</label>
              </div>
            </div>
            <input type="text" name="userId" id="userId" class="d-none" />
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputLastName"
                  type="text"
                  placeholder="Apellidos"
                  name="lastname"
                  autocomplete="false"
                  disabled
                  required
                />
                <label for="editInputLastName">Apellidos</label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-2 mb-md-3">
            <input
              class="form-control"
              id="editInputEmail"
              type="email"
              placeholder="Correo"
              name="email"
              autocomplete="false"
              required
            />
            <label for="editInputEmail">Correo</label>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputPassword"
                  type="password"
                  placeholder="Create a password"
                  name="password"
                  autocomplete="false"
                  required
                />
                <label for="editInputPassword">Editar contraseña</label>
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <input
                  class="form-control"
                  id="editInputPasswordConfirm"
                  type="password"
                  placeholder="Confirmar Contraseña"
                  name="password2"
                  autocomplete="false"
                  required
                />
                <label for="editInputPasswordConfirm"
                  >Confirmar Contraseña</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  name="role"
                  id="editRoles"
                  autocomplete="false"
                  required
                >
                  <% userRoles.forEach(role => { %>
                  <option value="<%= role.id %>"><%= role.name %></option>
                  <% }); %>
                </select>
                <label for="editRoles" class="form-label"
                  >Roles (elige uno):</label
                >
              </div>
            </div>
            <div class="col-sm-6 col-12 mb-2 mb-md-3">
              <div class="form-floating">
                <select
                  class="form-select"
                  name="province"
                  id="editProvinces"
                  autocomplete="false"
                  required
                >
                  <% provinces.forEach(province => { %>
                  <option value="<%= province.id %>">
                    <%= province.name %>
                  </option>
                  <% }); %>
                </select>
                <label for="editProvinces" class="form-label"
                  >Provincias (elige una):</label
                >
              </div>
            </div>
          </div>
          <div class="col-12 mb-2 mb-md-3">
            <div class="form-floating">
              <select
                class="form-select"
                name="status"
                id="editStatus"
                autocomplete="false"
                required
              >
                <% status.forEach(value => { %>
                <option value="<%= value.id %>"><%= value.info %></option>
                <% }); %>
              </select>
              <label for="editProvinces" class="form-label"
                >Estado: (elige uno):</label
              >
            </div>
          </div>

          <!-- Agrega más campos según sea necesario -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-success" form="editForm">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
<%- include("./partials/errorRowModal.ejs") %> <%- contentFor('styles') %> <%-
contentFor('scripts') %>
<!--Datatables-->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script nonce="<%=cspNonce%>">
  function showEditModal(form, data) {
    const selectedRole = $("#editRoles option")
      .filter(function () {
        return $(this).text().trim() === data.rol_name;
      })
      .val();

    const selectedProvince = $("#editProvinces option")
      .filter(function () {
        return $(this).text().trim() === data.province_name;
      })
      .val();

    const selectedStatus = $("#editStatus option")
      .filter(function () {
        return $(this).text().trim() === data.status;
      })
      .val();

    $("#userId").val(data.id);
    $("#editInputFirstName").val(data.name);
    $("#editInputLastName").val(data.last_name);
    $("#editInputEmail").val(data.email);
    $("#editRoles").val(selectedRole);
    $("#editProvinces").val(selectedProvince);
    $("#editStatus").val(selectedStatus);
    $("#editarModal").modal("show");
  }
</script>
<script nonce="<%=cspNonce%>">
  $(document).ready(function () {
    const table = datatableConfig(
      "#DataTable",
      "/api/users",
      [
        { title: "Id", data: "id" },
        { title: "Nombre", data: "name" },
        { title: "Apellidos", data: "last_name" },
        { title: "Usuario", data: "username" },
        { title: "Correo", data: "email" },
        { title: "Rol", data: "rol_name", width: "5%" },
        { title: "Provincia", data: "province_name", width: "5%" },
        {
          title: "Estado",
          data: "status",
          render: function (data) {
            if (data === "HABILITADO") {
              return `<span class="badge bg-success">${data}</span>`;
            }
            return `<span class="badge bg-danger">${data}</span>`;
          },
          width: "5%",
        },
      ],
      [
        {
          targets: "_all",
          className: "text-nowrap",
        },
      ]
    );
  });
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    $("#registerForm").submit(function (event) {
      event.preventDefault();
      const messages = document.getElementById("messageBox");
      const data = Object.fromEntries(new FormData(this).entries());
      $.ajax({
        url: "/users/add",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
          messages.innerHTML = `<div class="alert alert-success mb-1 py-1"><strong>¡Hecho!</strong> ${response.result}</div>`;
          setTimeout(() => {
            messages.innerHTML = "";
            $("#registerForm")[0].reset();
            $(`#crearModal`).modal("hide");
            $("#DataTable").DataTable().ajax.reload();
          }, 1000);
        },
        error: function (err) {
          const result = err.responseJSON;
          displayErrors(messages, result.errors);
          setTimeout(() => {
            messages.innerHTML = "";
          }, 5000);
        },
      });
    });
  });
</script>
<script nonce="<%= cspNonce %>">
  $(document).ready(function () {
    $("#editForm").submit(function (event) {
      event.preventDefault();
      const messages = document.getElementById("editMessageBox");
      const data = Object.fromEntries(new FormData(this).entries());
      $.ajax({
        url: "/users/edit",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function (response) {
          messages.innerHTML = `<div class="alert alert-success mb-1 py-1"><strong>¡Hecho!</strong> ${response.result}</div>`;
          setTimeout(() => {
            messages.innerHTML = "";
            $("#editForm")[0].reset();
            $(`#editarModal`).modal("hide");
            $("#DataTable").DataTable().ajax.reload();
          }, 1000);
        },
        error: function (err) {
          const result = err.responseJSON;
          displayErrors(messages, result.errors);
          setTimeout(() => {
            messages.innerHTML = "";
          }, 5000);
        },
      });
    });
  });
</script>
